doctype html
html
    head
    body
        h1 Attending
        div
            p= attending
            h3 Number of guests:
            p= numberAttending
        h1 Not Attending
        div
            p= notAttending